<!DOCTYPE html>
<html lang="en">
  {{>header}}
<body>

  <div class="container">
    <header class="heading">
      <a class="heading__link" href="/">
        <h1 class="main-title">Currently Reading 📚</h1>
        <p class="main-subtitle">Your books from Goodreads</p>
      </a>
      <div class="heading__aside">
        <a class="pill-label" href="{{{book.0.id}}}/json">Get as JSON</a>
      </div>
    </header>

    <div class="book__detail">
      {{#if error}}
        <h3>Oops, this book wasn't found. Try again?</h3>
      {{/if}}
      {{#if book}}

      <div class="book-item">
        <div class="bk-img">
          <div class="bk-wrapper">
            <div class="bk-book bk-bookdefault">
              <div class="bk-front">
                <div class="bk-cover" style="background-image: url('{{ book.0.image_url }}')"></div>
              </div>
              <div class="bk-back"></div>
              <div class="bk-left"></div>
            </div>
          </div>
        </div>
        <div class="item-details">
          <h3 class="book__title book__title--detail a-fade-in-up-low">{{ book.0.title }}</h3>
          <p class="book__rating">{{book.0.average_rating}}</p>
          {{#each book.0.authors as |author|}}
            {{#each author as |name| }}
              <p class="book__author author">by {{ name.0.name }}</p>
            {{/each}}
          {{/each}}
          {{#if book.0.description}}
            <div class="book__description a-fade-in-up-low a-delay-1">{{{book.0.description}}}</div>
          {{else}}
            <div class="book__description">This book has no description yet. Head over to its profile page on Goodreads to learn more about it.</div>
          {{/if}}
        </div>


      </div>
      <section class="similar-books">
        <h3>Similar Books</h3>
        <div class="similar-books__list">
          {{#each book.0.similar_books as |related|}}
            {{#each related.book as |book|}}

              {{#each book.id as |ids|}}
                <a href=/book/{{ ids }}>
                  <div class="similar-books__book">
                    <img src="{{book.image_url}}" alt="">
                    <h5>{{book.title}}</h5>
                  </div>
                </a>
              {{/each}}

            {{/each}}
          {{/each}}
        </div>
      </section>
      {{/if}}
    </div>
  </div>
</body>

<script src="../dist/book-detail.js"></script>
  {{>footer}}
</html>
