<!DOCTYPE html>
<html lang="en">
  {{>header}}
<body class="dark-theme">

  <div class="container">
    <h1 class="main-title">Currently Reading</h1>
    <p class="main-subtitle">Your books from Goodreads 📚</p>

    <div class="book__detail">
      {{#if error}}
        <h3>Oops, this book wasn't found. Try again?</h3>
      {{/if}}
      {{#if book}}
      <div class="book-item">
        <div class="bk-img">
          <div class="bk-wrapper">
            <div class="bk-book bk-bookdefault">
              <div class="bk-front">
                <div class="bk-cover" style="background-image: url('{{ book.0.image_url }}')"></div>
              </div>
              <div class="bk-back"></div>
              <div class="bk-left"></div>
            </div>
          </div>
        </div>
        <div class="item-details">
          <h3 class="book__title book__title--detail">{{ book.0.title }}</h3>
          <p class="book__rating">{{book.0.average_rating}}</p>
          {{#each book.0.authors as |author|}}
            {{#each author as |name| }}
              <p class="book__author author">by {{ name.0.name }}</p>
            {{/each}}
          {{/each}}
          {{#if book.0.description}}
            <div class="book__description">{{{book.0.description}}}</div>
          {{else}}
            <div class="book__description">This book has no description yet. Head over to its profile page on Goodreads to learn more about it.</div>
          {{/if}}
        </div>
      </div>

      {{/if}}
    </div>
  </div>
</body>

<script type="text/javascript">
  const rating = document.querySelector('.book__rating');

  console.log(rating);

  const createStar = () => {
    const starEl = document.createElement('div');
    starEl.innerHTML = '★';
    starEl.classList.add('star-rating');
    return starEl;
  }

  let stars = Array
    .apply(null, { length: Math.round(rating.innerHTML) })
    .map(Number.call, Number)
    .forEach(star => rating.appendChild(createStar()));
</script>

</html>
