<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Currently reading on Goodreads...</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body>

  <div class="container">
    <h1>Currently reading</h1>

    <div class="books">
      {{#if books}}
      {{#each books as |book|}}
      <div class="book">
        <a href={{ book.link }}>
          <img class="book__cover" width="100" src={{ book.image_url }} alt="">
        </a>
        <p class="book__title">{{ book.title }}</p>
        {{#each authors as |author|}}
          {{#each author as |name|}}
            <p class="book__author">{{ name.0.name }}</p>
          {{/each}}
        {{/each}}
      </div>
      {{/each}}
      {{else}}
        <h3>There's no one to list</h3>
      {{/if}}
    </div>
  </div>
</body>
</html>
