<!DOCTYPE html>
<html lang="en">
  {{>header}}
<body class="dark-theme">

  <div class="container">
    <header class="heading">
      <div>
        <h1 class="main-title">Currently Reading 📚</h1>
        <p class="main-subtitle">Your books from Goodreads</p>
      </div>
      <div class="heading__aside">
        <a href="json">Get as JSON</a>
      </div>
    </header>
    <div class="books">
      {{#if error}}
        <h3>There was an error getting the books for this user</h3>
      {{/if}}

      {{#if items}}
        {{#each items as |books|}}
          {{#each books.book as |book|}}
          <div class="book">
            {{#each book.authors as |author|}}
              {{#each author as |name| }}

                <a class="book__author-link" href="/author/{{{name.0.id}}}">
                  <p class="book__author">{{ name.0.name }}</p>
                </a>
              {{/each}}
            {{/each}}
            {{#each book.id as |ids|}}
              <a class="book__link" href=/book/{{ ids._ }}>
                <img class="book__cover" width="100" src={{ book.image_url }} alt="Book cover">
              </a>
            {{/each}}
            <p class="book__title">{{ book.title }}</p>
          </div>
          {{/each}}
        {{/each}}
      {{/if}}
    </div>
  </div>
</body>
</html>
